@import url('https://fonts.googleapis.com/css?family=Contrail+One&display=swap');

.container h1{
	font-family: 'Contrail One', cursive;
	font-size: 60px;
}

.samefont {
	font-family: 'Contrail One', cursive;
}

a {
	color: black;
	text-decoration: none;
}

table {
	display: block;
    height: 200px;
    overflow: scroll;
    /*overflow-y: scroll*/
}

label {
	font-size: 24px;
}

.header {
	margin-top: 100px;
	margin-bottom: 100px;
}

.footer {
	position: relative;
	bottom: 0;
}

.footertext {
	text-align: center;
	padding: 0;
	margin: 0;
}

.buttonTop {
	height: 15rem;
	font-size: 2rem;
	display: block;
	margin: 0 auto;
}

.searchbox {
	min-width: 100%;
	padding: 20px 10px;
	line-height: 40px
}

.searchbox2 {
	min-width: 0.1em;
	padding: 20px 10px;
	line-height: 40px
}

input[type="text"]{
	height: 50px;
	line-height: 100%;
	font-size: 24px;
}

.selectBox{
	height: 50px;
}

.checkbox {
	border-style: solid;
	border-width: 1px;
	padding-left: 5px;
	color: grey;
	font-size: 150%;
}

.checkbox:hover {
	color: black;
}

#buttonUpper {
	margin: 0;
	margin-top: 15px;
	text-align: center;
	background-color: #fcba03;
	font-size: 150%;
}

thead {
	font-size: 150%;
}

tbody {
	font-size: 150%;
}

/*CSS FOR MAP*/

#mapid {
	height: 40em; 
}

/* ON TABLE*/

#tableCrime:hover {
	cursor: grab;
}

#tableCrime td:hover{
	background-color: rgba(252, 3, 82,0.5);
}

/*ABOUT PAGE*/

#leafletlogo {
	margin-top: 25%;
}

#skeletonlogo {
	margin-top: 10%;
}

#nominatimtext {
	font-family: Helvetica;
	text-align: center;
}

.descriptionAPI {
	font-size: 25px;
}

h5 {
	font-size: 150%;
}