@import url('https://fonts.googleapis.com/css?family=Contrail+One&display=swap');

.container h1{
	font-family: 'Contrail One', cursive;
}

a {
	color: black;
	text-decoration: none;
}

table {
	display: block;
    height: 200px;
    overflow: scroll;
    /*overflow-y: scroll*/
}

.header {
	margin-top: 100px;
	margin-bottom: 100px;
}

.footer {
	position: relative;
	bottom: 0;
}

.footertext {
	text-align: center;
	padding: 0;
	margin: 0;
}

.buttonTop {
	height: 15rem;
	font-size: 2rem;
	display: block;
	margin: 0 auto;
}

.searchbox {
	min-width: 100%;
	padding: 20px 10px;
	line-height: 40px
}

.searchbox2 {
	min-width: 0.1em;
	padding: 20px 10px;
	line-height: 40px
}

input[type="text"]{
	height: 50px;
	line-height: 100%;
	font-size: 24px;
}

.selectBox{
	height: 50px;
}

/*CSS FOR MAP*/

#mapid {
	height: 40em; 
}