<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Prompt Test</title>
    
    
    
	<title>Crimes Searcher</title>
	<meta name="description" content="Make your search into crimes occurred in St. Paul">
	<meta name="author" content="Luca and Shijun">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script type="application/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>

	<!-- USING SKELETON CSS-->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/skeleton.css">
	<link rel="stylesheet" href="css/mycss.css">
	<link rel="icon" type="image/png" href="images/favicon.png">
	<!-- IMPORTING APIs -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
     integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
     crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
     integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
     crossorigin=""></script>
    <!-- Internal js -->
	<script type="text/javascript" src="script/scripts.js"></script>
    
    
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="application/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="application/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!-- Prompt JavaScript - this can be moved to a separate .js file if desired -->
    <script type="application/javascript">
        function Prompt() {
            $("#dialog-form").dialog({
                autoOpen: true,
                modal: true,
                width: "360px",
                buttons: {
                    "Ok": function() {
                        var prompt_input = $("#prompt_input");
                        Init(prompt_input.val());
                        $(this).dialog("close");
                    },
                    "Cancel": function() {
                        $(this).dialog("close");
                    }
                }
            });
        }
        
    </script>
    <!-- End: Prompt JavaScript -->
    
    
</head>

<body onload="Prompt()">
    
    <!-- Prompt     URL for St. Paul Crime API:                  -->
    <div id="dialog-form">
        <label for="name">URL for St. Paul Crime API:</label>
        <input type="text" id="prompt_input" class="text ui-widget-content ui-corner-all" style="width: 320px;"/>
    </div>
    <!-- End: Prompt -->
    
	<img src="images/stpaulskyline.jpg" style="z-index: -1; opacity: 0.5; position: absolute; left: 0; width: 100%; height: 280px; object-fit: cover">

	<div class="container">
		<!-- HEADER PAGE -->
		<div class="row">
			<div class="twelve columns header">
				
				<div class="u-pull-right" style="font-size: 18px">
					<a href="index.html"><h3 style="color: black">Home</h3></a>
					<a href="about.html">About</a>
				</div>
				<h1 class="u-pull-left">Crime in St. Paul</h1>
			</div>
		</div>
		<div>
			<div class="row" style="text-align: center">
				<div class="twelve columns">
					<h1 style="margin-top: 20px">Search crimes</h1>
				</div>
			</div>
		</div>
		<!-- BODY PAGE -->
		<div id="app"> 
			<div class="row">
				<div class="three columns">
					<label class="samefont">Search Crimes in St. Paul by</label>
					<select id="type" v-model="searchType" class="selectBox" @change="changeAddressDiv">
			            <option v-for="option in searchTypeOptions" :value="option.value">{{ option.text }}</option>
			        </select>
				</div>

				<div v-if="!addressDiv">
					<div class="three columns">
						<div style="height: 29px"></div>
						<!-- SEARCH BOX LAT-->
						<input type="text" name="boxlat" height="50" class="searchbox2" v-model="userLat" placeholder="Type a latitude" v-on:keyup.enter="Search">
					</div>
					<div class="three columns">
						<div style="height: 29px"></div>
						<!-- SEARCH BOX LNG-->
						<input type="text" name="boxlng" height="50" class="searchbox" v-model="userLng" placeholder="Type a longitude" v-on:keyup.enter="Search">
					</div>				
				</div>

				<div class="six columns" v-else>
					<div style="height: 29px"></div>
					<!-- SEARCH BOX ADDRESS-->
					<input type="text" height="50" name="box2" class="searchbox" v-model="inputSearch" placeholder="Type a location" v-on:keyup.enter="Search">
				</div>
				<div class="two columns u-pull-right">
					<div style="height: 29px"></div>
					<button style="height: 50px" type="button" @click="Search">Enter</button>
				</div>		
			</div>


			<div class="row">
				<div class="twelve columns">
					<div style="margin-top: 40px"></div>
					<div id="mapid"></div>
				</div>
			</div>

			<div class="row">
				<dir class="twelve columns" style="padding: 0 0; margin: 0">
					<div class="checkbox">
						<input type="checkbox" value="Homicide" class="crime_option" checked @change="SearchUpper"> Murder 
						<input type="checkbox" value="Rape" class="crime_option" checked @change="SearchUpper"> Rape 
						<input type="checkbox" value="Robbery" class="crime_option" checked @change="SearchUpper"> Robbery 
						<input type="checkbox" value="Assault" class="crime_option" checked @change="SearchUpper"> Assault 
						<input type="checkbox" value="Burglary" class="crime_option" checked @change="SearchUpper"> Burglary 
						<input type="checkbox" value="Theft" class="crime_option" checked @change="SearchUpper"> Theft 
						<input type="checkbox" value="Assoult" class="crime_option" checked @change="SearchUpper"> Assoult
						<input type="checkbox" value="Arson" class="crime_option" checked @change="SearchUpper"> Arson 
						<input type="checkbox" value="Vandalism" class="crime_option" checked @change="SearchUpper"> Damage 
						<input type="checkbox" value="Graffiti" class="crime_option" checked @change="SearchUpper"> Graffiti 
						<input type="checkbox" value="Narcotics" class="crime_option" checked @change="SearchUpper"> Narcotics 
						<input type="checkbox" value="Discharge" class="crime_option" checked @change="SearchUpper"> Weapons 
						<input type="checkbox" value="Police Visit" class="crime_option" checked @change="SearchUpper"> Police Visit 
						<input type="checkbox" value="Community" class="crime_option" checked @change="SearchUpper"> Community Event 
                        <input type="checkbox" class="select_all_crimes" checked @change="clickAllCrime"> (All)
					</div>
				</dir>
			</div>
			<div class="row">
				<dir class="twelve columns" style="padding: 0 0; margin: 0">
					<div class="checkbox">
						<input type="checkbox" value="1" class="neighbor_option" checked @change="SearchUpper"> Conway/Battlecreek/Highwood 
						<input type="checkbox" value="2" class="neighbor_option" checked @change="SearchUpper"> Greater East Side 
						<input type="checkbox" value="3" class="neighbor_option" checked @change="SearchUpper"> West Side 
						<input type="checkbox" value="4" class="neighbor_option" checked @change="SearchUpper"> Dayton's Bluff 
						<input type="checkbox" value="5" class="neighbor_option" checked @change="SearchUpper"> Payne/Phalen 
						<input type="checkbox" value="6" class="neighbor_option" checked @change="SearchUpper"> North End 
						<input type="checkbox" value="7" class="neighbor_option" checked @change="SearchUpper"> Thomas/Dale(Frogtown) 
						<input type="checkbox" value="8" class="neighbor_option" checked @change="SearchUpper"> Summit/University 
						<input type="checkbox" value="9" class="neighbor_option" checked @change="SearchUpper"> West Seventh 
						<input type="checkbox" value="10" class="neighbor_option" checked @change="SearchUpper"> Como 
						<input type="checkbox" value="11" class="neighbor_option" checked @change="SearchUpper"> Hamline/Midway 
						<input type="checkbox" value="12" class="neighbor_option" checked @change="SearchUpper"> St. Anthony 
						<input type="checkbox" value="13" class="neighbor_option" checked @change="SearchUpper"> Union Park 
						<input type="checkbox" value="14" class="neighbor_option" checked @change="SearchUpper"> Macalester-Groveland 
						<input type="checkbox" value="15" class="neighbor_option" checked @change="SearchUpper"> Highland 
						<input type="checkbox" value="16" class="neighbor_option" checked @change="SearchUpper"> Summit Hill
						<input type="checkbox" value="17" class="neighbor_option" checked @change="SearchUpper"> Capitol River
                        <input type="checkbox" class="select_all_neighbor" checked @change="clickAllNeighbor"> (All)
					</div>
				</dir>
			</div>
			<div class="row">
				<div class="two columns" style="{color: grey} :hover{color: black}">
					<label class="samefont">From date</label>
					<input type="date" min="2014-01-01" max="2019-10-31" height="5" name="box" v-model="searchStartDate">
				</div>
				<div class="two columns">
					<label class="samefont">To date</label>
					<input type="date" min="2014-01-01" max="2019-10-31" height="5" name="box" v-model="searchEndDate">
				</div>
				<div class="two columns">
					<label class="samefont">Search start time</label>
					<input type="time" height="5" name="startT" v-model="searchStartTime" autocomplete="on">
				</div>
                <div class="two columns">
					<label class="samefont">Search end time</label>
					<input type="time" height="5" name="endT" v-model="searchEndTime" autocomplete="on">
				</div>
                <!-- submit button -->
				<div class="two columns">
                    <button type="button" @click="SearchUpper" id="buttonUpper">SUBMIT</button>
                </div>
			</div>
			<div class="row">
				<div class="twelve columns">
					<h5 class="samefont" style="text-align: center; margin:0">Search Result</h5>
				</div>
			</div>
			<div class="row">
				<div class="twelve columns">
					<!-- SEARCH TABLE -->
					<table style="width:100%; font-size: 12px">
					    <thead>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Block</th>
                            <th>Incident Type</th>
                            <th>Incident</th>
                            <th>Neighborhoods</th>
                            <th>Police Grid</th>
					    </thead>
                        <template>
                            <tbody v-for="crime in stpaulcrimes" v-for="neighbor in Neighborhoods" v-for="code in Codes">
                                <tr v-if="crime.color==='#d9d366'" bgcolor='#d9d366' v-on:click="Visualize($event, crime.block, crime.date, crime.time, crime.incident)" id="tableCrime">
                                    <td>{{crime.date}}</td>
                                    <td>{{crime.time}}</td>
                                    <td>{{crime.block}}</td>
                                    <td>{{Codes['C'+crime.code]}}</td>
                                    <td>{{crime.incident}}</td>
                                    <td>{{Neighborhoods['N'+crime.neighborhood_number]}}</td>
                                    <td>{{crime.police_grid}}</td>
                                </tr>
                                <tr v-if="crime.color==='#d6a7a7'" bgcolor='#d6a7a7' v-on:click="Visualize($event, crime.block, crime.date, crime.time, crime.incident)" id="tableCrime">
                                    <td>{{crime.date}}</td>
                                    <td>{{crime.time}}</td>
                                    <td>{{crime.block}}</td>
                                    <td>{{Codes['C'+crime.code]}}</td>
                                    <td>{{crime.incident}}</td>
                                    <td>{{Neighborhoods['N'+crime.neighborhood_number]}}</td>
                                    <td>{{crime.police_grid}}</td>
                                </tr>
                                <tr v-if="crime.color==='#66a9d9'" bgcolor='#66a9d9' v-on:click="Visualize($event, crime.block, crime.date, crime.time, crime.incident)" id="tableCrime">
                                    <td>{{crime.date}}</td>
                                    <td>{{crime.time}}</td>
                                    <td>{{crime.block}}</td>
                                    <td>{{Codes['C'+crime.code]}}</td>
                                    <td>{{crime.incident}}</td>
                                    <td>{{Neighborhoods['N'+crime.neighborhood_number]}}</td>
                                    <td>{{crime.police_grid}}</td>
                                </tr>
                            </tbody>
                        </template>
                        
					</table>
				</div>				
			</div>
		
		</div>
		<!-- FOOTER PAGE -->
		<div class="row">
			<div class="three columns footer">
				<div style="background-color: #d9d366; height: 50px; width: 50px; display: inline-block"></div><p>Violent Crimes</p>
			</div>
			<div class="three columns">
				<div style="background-color: #d6a7a7; height: 50px; width: 50px; display: inline-block"></div><p>Property Crimes</p>
			</div>
			<div class="three columns">
				<div style="background-color: #66a9d9; height: 50px; width: 50px; display: inline-block"></div><p>Other Crimes</p>
			</div>
		</div>

	</div>

</body>
</html>